<div class="form-group-header">
  <%= @builder.label(@input.name, **@context.label_arguments) do %>
    <%= @input.label %>
    <% if @context.required? %>
      <span aria-hidden="true">*</span>
    <% end %>
  <% end %>
</div>
<div class="form-group-body">
  <%= content %>
</div>
<% if @context.invalid? %>
  <div class="color-fg-danger mt-1" id="<%= @context.validation_id %>">
    <%= render(Primer::OcticonComponent.new(icon: :"alert-fill", size: :small, aria: { hidden: true })) %>
    <span><%= @context.validation_messages.first %></span>
  </div>
<% end %>
<% if @context.caption? %>
  <p class="note" id="<%= @context.caption_id %>"><%= @context.caption %></p>
<% end %>
